{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Eliminar Cuenta</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>¿Estás seguro de que deseas eliminar la cuenta "{{ account.name }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="{% url 'account_list' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
