{% extends "Holidays/base.html" %}
{% load static %}
{% block title %}Holidays{% endblock %}

{% block content %}
<div class="row">
    <table class="table table-striped w-100 table-responsive" id="holidays_tabla"></table>
</div>
{% endblock %}

{% block js %}
{{block.super}}

datatable.inits = {
    columns: [
                {data: "id", name: "id", title: ID, type: "string", visible: false}
                {data: "name", name: "name", title: Name, type: "string", visible: true}
                {data: "weekday", name: "weekday", title: Weekday, type: "string", visible: true}
                {data: "date", name: "date", title: Date, "dateformat": document.date_format, visible: true}
                {data: "country", name: "country", title: Country, type: "string", visible: true}
                {data: "actions", name: "actions", title: gettext("Actions"), type: "string", visible: true}


],
addfilter: true

}

{% endblock %}


